<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); -%>
  <body>
    <%- include('../components/navbar'); -%> <%- include('../pages/header');-%>
    <%- include('../pages/about');-%> <%- include('../pages/services');-%> <%-
    include('../pages/projects');-%> <%- include('../pages/contact');-%>
    <%-include('../partials/footer'); -%> <%-include('../partials/foot'); -%>
  </body>
</html>
